---

cacheBuster: '?mod=20151101'

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900,400italic' rel='stylesheet' type='text/css'>
    	<meta charset="utf-8" />
    	<title>{{pageTitle}}</title>
    	<meta name="description" content="{{{pageDesc}}}"/>
    	<script async defer type="text/javascript" src="js/bundled.min.js{{head.cacheBuster}}"></script>
    	<link rel="stylesheet" type="text/css" href="styles/styles_prefixed.css{{head.cacheBuster}}">
		<meta name="author" content="Renee Wall, www.reneewall.com"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1"> 
		<link rel="icon" href="favicon.png">
		<link rel="apple-touch-icon" href="assets/icon_180x180.png">
		<meta property="og:site_name" content="{{pageTitle}}"/>
		<meta property="og:url" content="{{{pageUrl}}}"/>
		<meta property="og:description" content="{{{pageDesc}}}"/>
		<meta property="og:image" content="http://www.johnharrigan.com/assets/icon_200x200.png"/>
		<link rel="canonical" href="{{{pageUrl}}}"/>
  	</head>
  	<body>
