<!DOCTYPE html>
<html lang="en">
	<head>
		{{!-- to do: consider calibri --}}
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
		{{!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600' rel='stylesheet' type='text/css'> --}}
    	<meta charset="utf-8" />
    	<title>{{title}}</title>
    	<script src="{{filePath}}js/modernizr.min.js" async defer></script>
    	<script src="{{filePath}}js/svg4everybody.min.js" async defer></script>
    	<link rel="stylesheet" type="text/css" href="{{filePath}}styles/styles.css">
		<meta name="author" content="Renee Wall, www.reneewall.com"/>
		<meta property="og:description" content=""/>
		<meta property="og:image" content="http://johnharrigan.com/images/share.png">
		<meta property="og:site_name" content="johnharrigan.com"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1"> 
		<link rel="icon" href="favicon.ico">
		<link rel="canonical" href="http://www.johnharrigan.com/"/>
  	</head>
  	<body>
  		<header>
			<h1 class="header">{{header}} <strong>{{headerStrong}}</strong></h1>
		</header>
  		<div role="main">
