<ul class="slideshow no-bullet" role="banner">
    <li>
    	<figure class="slideshow--item">
	    	<img src="{{assets}}/jh_hero_01.jpg" alt="image of john harrigan"/>
	    	<figcaption>one</figcaption>
    	</figure>
    </li>
    <li>
    	<figure class="slideshow--item">
	    	<img src="{{assets}}/jh_hero_02.jpg" alt="image of john harrigan"/>
	    	<figcaption>two</figcaption>
    	</figure>
    </li>
    <li>
    	<figure class="slideshow--item">
	    	<img src="{{assets}}/jh_hero_03.jpg" alt="image of john harrigan"/>
	    	<figcaption>three</figcaption>
    	</figure>
    </li>
    <li>
    	<figure class="slideshow--item">
	    	<img src="{{assets}}/jh_hero_04.jpg" alt="image of john harrigan"/>
	    	<figcaption>four</figcaption>
    	</figure>
    </li>
    <li>
    	<figure class="slideshow--item">
	    	<img src="{{assets}}/jh_hero_05.jpg" alt="image of john harrigan"/>
	    	<figcaption>five</figcaption>
    	</figure>
    </li>
    <li>
    	<figure class="slideshow--item">
	    	<img src="{{assets}}/jh_hero_04.jpg" alt="image of john harrigan"/>
	    	<figcaption>six</figcaption>
    	</figure>
    </li>
</ul>
