<div class="banner-image">
	{{> watermark}}
	<ul class="slideshow no-bullet" role="banner">	
	    {{#each slide}}
	    <li>
	        <figure class="slideshow-item">
	        	<img src="assets/{{small}}" srcset="assets/{{medium}} 640w, assets/{{large}} 1024w" alt="{{alt}}">
	            <figcaption>{{caption}}</figcaption>
	        </figure>
	    </li>
	    {{/each}}
	</ul>
</div>
