{{> head}}
<div class="banner" role="banner">
	{{> header}}
	<div class="banner-image">
		{{> watermark}}
		<figure>
			{{#hero}}
			<img src="assets/{{small}}" srcset="assets/{{large}} 960w, assets/{{medium}} 726w, assets/{{small}} 480w" sizes="100vw" alt="{{alt}}"/>
	        <figcaption class="visually-hidden">{{caption}}</figcaption>
	        {{/hero}}
	    </figure>
    </div>
</div>
<div role="main">
	<section class="constrain project-content">
		<h3 id="projectHeader" class="header-section">{{{project}}}</h3>
		<h4 class="subheader-section">{{{credit}}}, {{year}}</h4>
		{{{pageContent}}}
	</section>	
</div>
{{> footer}}
